.editable-label-button {
	margin: 0;
	padding: 0;
	height: var(--lumo-size-xs);
	width: var(--lumo-size-xs);
}

.editable-label-container {
	margin: 0;
	padding: 0;
	align-items: center;
	height: unset;
	width: 100%;
}

.editable-label-label {
	height: unset;
	width: unset;
}

.editable-label-editor {
	height: unset;
	width: unset;
}
