.grid-exporter-flex-primary-child {
	flex-grow: 1.0;
}

.grid-exporter-flex-wrap-container {
	flex-wrap: wrap;
}

.grid-exporter-specific-configuration-container {
	flex-wrap: wrap;
	margin: 0px;
	padding: 0px;
	height: unset;
	width: 100%;
	row-gap: 10px;
	column-gap: 20px;
	align-items: baseline;
	align-content: flex-start;
	flex-direction: row;
}

.grid-exporter-button {
	height: unset;
	width: unset;
}

.grid-exporter-bar {
	margin: 0px;
	padding: 0px;
	height: unset;
	width: 100%;
}

.grid-exporter-status {
	color: red;
}

.grid-exporter-grid-title {
	padding-top: 10px;
	height: unset;
	width: unset;
}

.grid-exporter-main-layout {
	margin: 0px;
	padding: 0px;
	max-height: 100%;
	max-width: 100%;
	height: unset;
	width: 1000px;
}

.grid-exporter-dialog {
	height: unset;
	width: 1000px;
}
